div {
  display: block;
}

.navbar-nav {
  margin-top: 10px;
}

.navbar-collapse .navbar-brand{
  margin-left: 100px;
}

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

main {
  padding-top: 80px;
  margin-left: 17%;
}

main .page-header {
  margin-top: 0;
}

.page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #080808;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.heading-main {
  text-transform: uppercase;
  letter-spacing: 0.0623em;
  font-size: 49px;
  font-weight: 500;
}
